
body{
    font-family: "PP Neue Montreal", sans-serif;
    
}
img {
    width:100;
    height: 100%;
    object-fit: cover;
}

.content .drop{
    text-align: center;
}
.content .scroll-para{
    text-align: center;
}
p{
   
    font-size: 0.8rem;
    font-weight: 200;
    line-height: 0.8;
}
section{
    position: relative;
width: 100vw;
height: 100svh;

}


.spotlight-intro-text-wrapper{
    position: absolute;
    width: 100%;
    top: 50%;
  
    transform: translateY(-50%);
   display: flex;
   gap: 0.5rem;
}

.spotlight-intro-text{
    flex: 1;
    position: relative;
    will-change: transform;
    
}


.spotlight-intro-text:nth-child(1){
 display: flex;
    justify-content: flex-end;
}

.spotlight-bg-img{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: scale(0);
    will-change: transform;
}
.spotlight-bg-img img{
 transform: scale(1.5);
 will-change: transform;
}
.spotlight-titles-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 15vw;
    overflow: hidden;
   clip-path: polygon(
    50svh 0px,
    0px 50%, 
    50svh 100%,
    100% calc(100% + 100svh),
    100% -100svh
   );
   --before-opacity: 0;
   --after-opacity: 0;
}

.spotlight-titles-container::before,
.spotlight-titles-container::after{
    content: '';
    position: absolute;
    width: 100svh;
    height: 2.5px;
    
    background-color: #ffffff;
    pointer-events: none;
   
    transition: opacity 0.3s ease;
    z-index: 10;
}
.spotlight-titles-container::before{
    top: 0;
    left: 0;
    transform: rotate(-45deg) translate(-7rem);
    opacity: var(--before-opacity);
}
.spotlight-titles-container::after{
    bottom: 0;
    left: 0;
    transform: rotate(45deg) translate(-7rem);
    opacity: var(--after-opacity);
}

.spotlight-titles{
    position: relative;
   
    left: 15%;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    transform: translateY(100%);
    z-index: 2;
}

.spotlight-titles h1{
    color: #ffffff;
    opacity: 0.25;
    transition: opacity 0.3s ease;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.spotlight-images{
    position: absolute;
    width: 50%;
    min-width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.spotlight-img{
    position: absolute;
    width: 200px;
    height: 150px;
    will-change: transform;
}
.spotlight-header{
    
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: #ffffff;
   transition: opacity 0.3s ease;
    z-index: 2;
    opacity: 0;
}
.content .drop .h1{
 padding: 0 clamp(4rem, 12vw, 20rem);
    display: grid;
    
}

@media (max-width: 600px){


.spotlight-titles-container{
    clip-path: none
}

.spotlight-titles-container::before,
.spotlight-titles-container::after{
    display: none;
} 

.spotlight-titles{
    left: 0;
}
.spotlight-header{
    display: none;
}}