*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html, body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
}
h1.header{
    font-family: "Bigilla";
    font-size: 200px;
    text-transform: uppercase;
    font-weight: bolder;
    width: 90%;
}

.header .letter{
    display: inline-block;
    line-height: 1em;
}
.titles{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-weight: 500;
    font-size: 240px;
    font-family: "Barracuda";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul.titles{
    display: flex;
}

ul.blocks {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    list-style: none;
    justify-content: center;
    align-items: center;
}

li.block{
    height: 100vh;
}
.block-1 {
    width: 0.5%;
    margin: 0 75px;
    background: #890808 ;
}
.block-2 {
    width: 1.4%;
    margin: 0 200px 0 35px  ;
    background: #a16a02 ;
}
.block-3 {
    width: 0.9%;
    margin: 0 250px;
    background: #081c7e ;
}
.block-4 {
    width: 2%;
    margin: 20px 35px;
    background: #ffffff ;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    h1.header {
        font-size: 50px;
        line-height: 1.2;
    }
    
    h1 {
        font-size: 60px;
    }
    
    .titles {
        position: static;
        transform: none;
        text-align: center;
        margin-top: 20px;
    }
    
    .titles h1 {
        position: static;
        transform: none;
        font-size: 40px;
    }
    
    ul.blocks {
        flex-direction: column;
        height: auto;
        align-items: stretch;
    }
    
    li.block {
        height: 20px;
        width: 100%;
        margin: 5px 0;
    }
    
    .block-1 {
        width: 100%;
        margin: 5px 0;
    }
    
    .block-2 {
        width: 100%;
        margin: 5px 0;
    }
    
    .block-3 {
        width: 100%;
        margin: 5px 0;
    }
    
    .block-4 {
        width: 100%;
        margin: 5px 0;
    }
}

